<h3>Crear tu Pin</h3>
<%= form_with model: @pin do |f| %>
<div class="form-group">
<%= f.text_field :name, placeholder: 'Nombre' %>
</div>
<div class="form-group">
<%= f.text_field :desc, placeholder:'Description' %>
</div>
<div class="form-group">
<%= f.text_field :photo, placeholder: 'Url photo' %>
</div>
<div class="form-group">
	<%= f.submit 'Crear Pin', class: 'btn btn-primary'%>
</div>
<% end %>